#java {
  display: none;
};
#csharp {
  display: none;
};
#php {
  display: none;
};
#ruby {
  display: none;
};
#not {
  display: none;
};

body img{
  background-color: teal;
  float:left;
  margin-right: 30px;
  display:

};
